---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
---

<BaseLayout pageTitle="A bit about myself.">
	<h1>Hey there, I'm <span class="text-gradient">TaJah</span></h1>
</BaseLayout>
