---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

---
<header>
    <div class="nav-container" style="display: flex; justify-content: space-between; align-items: center;">
        <Hamburger />
        <ThemeIcon />
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/tags">Blog</a>
        <a href="/api">API</a>
    </nav>
</header>