body {
    margin: 0;
    font-family: "Montserrat", "Raleway", Arial, sans-serif;
}

#navContainer {
    background-color: #0d0222;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 2px;
}

nav > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80vh;  */
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project {
    width: 80%;
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0px auto;
    }
    nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 4px 0px 2px;
        margin: 0px auto;
    }
    main {
        width: 768px;
        margin: auto;
    }

    nav {
        width: 718px;
    }
}
